*{
  padding: 0;
  margin: 0;
}
.head{
  width: 100%;
  box-sizing:border-box;
}
.head-centre{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.head-centre-right{
  width: 700px;
  display: flex;
justify-content: space-between;

}

.head-centre-right a{
  height: 80px;
  width: 20%;
  font-size: 20px;
  text-decoration:none;
  color: #333333;
  box-sizing:border-box;
  display: flex;
  line-height: 400%;
  justify-content: center;
}
.head-centre-right a:hover{
  border-bottom: 3px solid #866961;
}
.lunbotu{
  width: 100%;
  position: relative;
}
.motaikuan{
  width: 100%;
  height: 400px;
  position: absolute;
  background: black;
  opacity: 0.5;
  top: 0;
}
.lunbotu-one{
position: absolute;
top: 165px;
left: 880px;

}
.lunbotu-four{
  font-size: 20px;
  color: white;
}

.lunbotu-one p{
  font-size: 30px;
  float: left;
  color: white;
}
.lunbotu-one-i{
  display: block;
  height: 1px;
  width: 284px;
  background: white;
  float: right;
  margin-top: 20px;
  margin-left: 10px;
}

.lunbotu-two{
position: absolute;
top: 200px;
left: 600px;


}
.lunbotu-two i{
  display: block;
  height: 1px;
  width: 284px;
  background: white;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}
.lunbotu-two p{
  float: right;
  font-size: 30px;
color: white;
margin-left: 10px;
}
.lunbotu-two span{
  font-size: 25px;
  margin-left: 10px;
}
.coffee{
  width: 996px;
  margin: 0 auto;
}
.coffee-top{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.coffee-top-centre{
  width: 996px;
  height: 40px;
  border-bottom: 1px solid #d5d5d5;
display: flex;
align-items: center;
position: relative;
}
.coffeeleft{
  width: 355px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.coffee-top-centre i{
  display: block;
  width: 2px;
  height: 9px;
  background-color: #866961;
  position: absolute;
  top: 10px;
}
.coffee-top-centre-left{
  height: 100%;
  position: relative;
  
}

.coffee-top-centre-left p:nth-of-type(2){
  color:#cfcfcf;
  font-size: 12px;
}
.coffee-top-centre-left p{
  margin-left: 5px;
}
.coffee-top-centre-right{
display: flex;
position: absolute;
right: 0;
}
.coffee-top-centre-right-text{
  color:#a7a7a7;
}
.text{
  width: 996px;
  height: 570px;
  margin: 0 auto;
  margin-top: -30px;
 
}
.text-one{
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}
.text-one-left{
width: 72px;
height: 60px;
float: left;
border-right: 1px solid #a7a7a7;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.text-one-left span{
font-size: 34px;
color: #866961;

}
.text-one-left p{
font-size: 10px;
}
.text-one-right p{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;

}
.text-one-right{
  margin-left: 10px;
  width: 924px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
 justify-content: center;
}
.text-one-right span{
  color: #866961;
}
/* 底部 */
.coffeefot{
  width: 100%;
  height: 80px;
  background: #866961;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.coffeefot-one{
  width: 1200px;
display: flex;
justify-content: space-between;
align-items: center;
color: white;
}
.coffeefot-one img{
  margin-right: 180px;
 }